addict==2.4.0
ansitable==0.11.4
asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
Bottleneck==1.4.2
certifi==2025.6.15
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
colored==2.3.0
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.3.0
cycler==0.12.1
dash==3.1.1
debugpy==1.8.14
decorator==4.4.2
distlib==0.3.9
e3nn==0.5.6
einops==0.8.1
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema==2.21.1
Flask==3.1.1
fonttools==4.58.4
h5py==3.14.0
identify==2.6.12
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
iopath==0.1.10
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.4.0
matplotlib==3.9.4
matplotlib-inline==0.1.7
moviepy==2.0.0.dev2
mplib==0.2.1
narwhals==1.44.0
nbformat==5.10.4
nest_asyncio==1.6.0
nodeenv==1.9.1
numexpr==2.10.1
numpy==1.26.1
open3d==0.19.0
opencv-python==4.11.0.86
opt_einsum==3.4.0
opt-einsum-fx==0.1.4
packaging==25.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pgraph-python==0.6.3
pickleshare==0.7.5
pip==25.1
platformdirs==4.3.8
plotly==6.2.0
plyfile==1.1.2
portalocker==3.2.0
pre_commit==4.2.0
proglog==0.1.12
progress==1.6
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybullet==3.2.7
Pygments==2.19.1
pyparsing==3.2.3
pyperclip==1.9.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.1
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
requests==2.32.4
retrying==1.4.0
roboticstoolbox-python==1.1.1
rpds-py==0.25.1
rtb-data==1.0.1
sapien==3.0.0b1
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
setuptools==78.1.1
six==1.17.0
spatialgeometry==1.1.0
spatialmath-python==1.1.14
stack_data==0.6.3
swift-sim==1.1.0
threadpoolctl==3.6.0
tifffile==2024.8.30
toppra==0.6.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transforms3d==0.4.2
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
zipp==3.23.0
